<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_BetterGroupSwitcher>
            <version>1.0.0</version>
        </Hackathon_BetterGroupSwitcher>
    </modules>
    <global>
        <models>
            <hackathon_bettergroupswitcher>
                <class>Hackathon_BetterGroupSwitcher_Model</class>
                <resourceModel>hackathon_bettergroupswitcher_resource</resourceModel>
            </hackathon_bettergroupswitcher>
            <hackathon_bettergroupswitcher_resource>
                <class>Hackathon_BetterGroupSwitcher_Model_Resource</class>
            </hackathon_bettergroupswitcher_resource>
        </models>
        <helpers>
            <hackathon_bettergroupswitcher>
                <class>Hackathon_BetterGroupSwitcher_Helper</class>
            </hackathon_bettergroupswitcher>
        </helpers>
        <resources>
            <hackathon_bettergroupswitcher_setup>
                <setup>
                    <module>Hackathon_BetterGroupSwitcher</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </hackathon_bettergroupswitcher_setup>
        </resources>
        <events>
            <sales_order_save_before>
                <observers>
                    <hackathon_bettergroupswitcher>
                        <type>singleton</type>
                        <class>Hackathon_BetterGroupSwitcher_Model_Observer</class>
                        <method>salesOrderSaveBefore</method>
                    </hackathon_bettergroupswitcher>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <hackathon_bettergroupswitcher>
                        <type>singleton</type>
                        <class>Hackathon_BetterGroupSwitcher_Model_Observer</class>
                        <method>salesOrderSaveAfter</method>
                    </hackathon_bettergroupswitcher>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
</config>